html {
	/*padding:20px;*/
	font-family:Verdana;
}

#container {
	/*width:900px;*/
}

#status {
	/*width:250px;*/
}

#messages {
	/*max-height:300px;*/
	overflow: hidden;
}

.info {
	color:#666;
}

hr {
	border:0px none;
	/*height:1px;*/
	background-color:#ddd;
}
#sketchCanvas{
	background-color:#000;
	overflow:hidden;
	/*width:100%;*/
	/*height:100%;*/
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
canvas#defaultCanvas0{
	background-color:#000;
}